<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="false">
	<parameter name="browserType" value="chrome"/>
    <parameter name="url" value="https://as76-pbs.sigtuple.com/"/>z
    <parameter name="product" value="AS76Reporting-RBC"/>
    <listeners>
        <listener class-name="utilities.ScreenshotListeners"/>
    </listeners>
  <test name="Test">
	
    <classes>
          <class name="SessionManagement.LoginTest"/>
       <!--  <class name="RBC.VerifySubTabOfRBC.VerifyUiOfRbcSizeSubTabTest"/>
          <class name="RBC.VerifySubTabOfRBC.VerifyUiOfRbcShapeSubTabTest"/>
          <class name="RBC.VerifySubTabOfRBC.VerifyUiOfRbcColorSubTabTest"/>
            <class name="RBC.VerifySubTabOfRBC.VerifyUiOfRbcInclusionSubTabTest"/>
           <class name="RBC.VerifySplitViewOfRbcTab.VerifySplitViewOfRBCTabTest"/>
         <class name="RBC.VerifyTheRegradingOfRbcCellTypes.VerifyTheRegradingOfRbcCellTypesTest"/>
         <class name="RBC.VerifyThePatchSizeOfRBC.VerifyThePatchSizeOfRBCTest"/>
        <class name="RBC.VerifyThePatchViewOfRBC.VerifyThePatchViewOfRBCTest"/>
        <class name="WBC.VerifyWbcParametersTest.WBCParametersTest"/>-->
        <class name="ReportViewer.ReportViewerTest"/>

         </classes>
        </test> <!-- Test -->
        </suite> <!-- Suite -->
